@font-face {
  font-family: GillSansR;
  src: url(/images/fonts/GillSans-01.ttf);
}
@font-face {
  font-family: GillSansL;
  src: url(/images/fonts/GillSans-Light-08.ttf);
}
@font-face {
  font-family: GillSansI;
  src: url(/images/fonts/GillSans-Italic-03.ttf);
}
@font-face {
  font-family: ProximaNova;
  src: url(/images/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: GillSansR;
}

html, body {
  height: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 99;
}
nav .logo {
  width: 92px;
  height: 42px;
  background-image: url(/images/logo/logo-white.png);
}
nav .links a {
  color: #ffffff;
  text-decoration: none;
}
nav span {
  color: #ffffff;
  margin: 0 19.5px;
}

.banner {
  max-width: 1280px;
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
  color: #ffffff;
}
.banner .title {
  margin: 0 auto;
  width: 232px;
  height: 80px;
  font-size: 60px;
  font-family: ProximaNovaScOsfExtraCondensed;
  padding-top: 162px;
  text-align: center;
}
.banner .subtitle {
  padding-top: 107px;
  font-family: GillSansI;
  margin: 0 auto;
  width: 714px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}
.banner .learnmore {
  width: 121px;
  height: 40px;
  background-color: #79addc;
  margin: 98px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}

.tours {
  width: 818px;
  height: 304px;
  margin: -43px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tours .tour {
  height: 304px;
  width: 236px;
  color: #ffffff;
}
.tours .tour1 {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tours .tour2 {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tours .tour3 {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tours .tour1 .tourtitle, .tours .tour2 .tourtitle, .tours .tour3 .tourtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-family: ProximaNovaScOsfExtraCondensed;
  padding-top: 37px;
}
.tours .tour1 .toursubtitle, .tours .tour2 .toursubtitle, .tours .tour3 .toursubtitle {
  font-size: 30px;
  text-align: center;
  font-family: ProximaNovaScOsfExtraCondensed;
  padding-top: 6px;
}
.tours .tour1 .tourlearnmore, .tours .tour2 .tourlearnmore, .tours .tour3 .tourlearnmore {
  background-color: #79addc;
  width: 133px;
  height: 40px;
  border-radius: 25px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 57px;
  text-transform: uppercase;
  font-size: 15px;
}

.form-content {
  max-width: 818px;
  min-height: 200px;
  margin: 40px auto 0 auto;
  font-size: 18px;
  font-family: GillSansL;
  font-size: 18px;
}
.form-content input {
  font-size: 18px;
  font-family: GillSansL;
  border: 2px solid #79addc;
}
.form-content .booking {
  height: 80px;
  margin-top: 40px;
  margin-bottom: 31px;
  font-size: 60px;
  font-family: ProximaNovaScOsfExtraCondensed;
}
.form-content .top-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}
.form-content .top-boxes input {
  width: 344px;
  height: 58px;
  padding-left: 10px;
}
.form-content .top-boxes .bigbox {
  width: 453px;
}
.form-content .med-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}
.form-content .med-boxes input {
  width: 698px;
  height: 58px;
  padding-left: 10px;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: right 20px center;
}
.form-content .low-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
.form-content .low-boxes input {
  width: 103px;
  height: 58px;
  padding-left: 10px;
  background-image: url(../images/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: right 20px center;
}
.form-content .low-boxes .adult {
  padding-right: 80.7px;
}
.form-content .low-boxes .adultN {
  padding-right: 81.5px;
}
.form-content .low-boxes .children {
  padding-right: 46.8px;
}
.form-content .low-boxes .childrenN {
  padding-right: 76px;
}
.form-content .low-boxes .rooms {
  padding-right: 67.7px;
}
.form-content .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 37px;
}
.form-content .textbox input {
  width: 818px;
  height: 192px;
  padding-left: 10px;
  top: 0px;
  left: 0px;
}
.form-content .submit {
  padding-bottom: 100px;
}
.form-content .submit .button {
  background-color: #79addc;
  width: 813px;
  height: 60px;
  border-radius: 25px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color: #ffffff;
}

.footer {
  width: 1280px;
  height: 100px;
  background-color: #79addc;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .logofooter {
  width: 92px;
  height: 42px;
  background-image: url(/images/logo/logo-white.png);
  margin-left: 150px;
}
.footer .copyrightfooter {
  width: 508px;
  height: 14px;
  margin-left: 288px;
  color: #ffffff;
  text-align: left;
  font-size: 12px;
}
.footer .socialmediafooter {
  width: 120px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 23px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}