.footer{
    width: $banner-footer-width;
    height: $footer-height;
    background-color: $site-blue;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .logofooter{
        width: 92px;
        height: 42px;
        background-image: url(/images/logo/logo-white.png);
        margin-left: 150px;
    }
    .copyrightfooter{
        width: 508px;
        height: 14px;
        margin-left: 288px;
        color: $site-white;
        text-align: left;
        font-size: 12px;
    }
    .socialmediafooter{
        width: 120px;
        height: 23px;
        display: flex;
        font-size: 23px;
        justify-content: space-between;
        color: $site-white;
    }
}